{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptates adipisci necessitatibus fugiat voluptas repudiandae sed veniam 
        laborum facere ad quam eos iure, accusantium molestias porro. Perspiciatis cumque accusantium quasi aperiam eaque dolore eveniet. 
        Accusamus cum deleniti aliquid aspernatur harum incidunt architecto corporis sequi, officia quos omnis maiores quae. Optio, placeat 
        tempora? Aut libero eum laborum facere voluptatibus voluptatem atque quia dolorum deserunt! Voluptatum natus eum expedita rerum dolorum, 
        ea deleniti esse hic quos ipsam culpa sapiente non recusandae deserunt inventore. Quisquam officia iste totam odio delectus facere sint 
        error recusandae harum autem voluptatem, eaque illum provident eligendi non? Consectetur!
        </p>

    </section>
    <div class="text-center">
        <a href="/signin/" class="btn btn-primary">Sign In</a>
        <a href="/signup/" class="btn btn-primary">Sign Up</a>
    </div>
    
</main>

{% endblock %}


